@using Pathly.ViewModels.Tags;
@model TagViewModel

<div class="modal-body">
    <form id="createTagForm" asp-controller="Tag" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Tag Name</label>
            <span id="nameError" class="text-danger d-block small mb-1"></span>
            <input asp-for="Name" class="form-control" placeholder="e.g., Urgent, Deep Work..." />
            <span asp-validation-for="Name" class="text-danger small custom-val-msg"></span>
        </div>
        
        <div class="modal-footer px-0 pb-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Tag</button>
        </div>
    </form>
</div>